<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
    <link rel="stylesheet"href="/style.css">
</head>
<body>
    <h1>Welcome to the Express App</h1>
    <form action="/users" method="POST">
<input type="text" name="name"
placeholder="Name" required>
<input type="Email" name="email"
placeholder="Email" required>
<button type="submit">Add User</button>
    </form>
    </body>
</html>